<section class="page-header1">
    <h1 class="project-name">{{main.pageTitle}}</h1>
    <h2 class="project-tagline">
        <timer countdown="main.countdown" max-time-unit="'minute'" interval="1000" autostart="false">{{mminutes}} minute{{minutesS}}, {{sseconds}} second{{secondsS}}</timer>
    </h2>
    <p>
        <a class="btn btn-lg btn-warning" ng-click="main.stopTimer()" ng-show="main.timerRunning && !main.timerAlert">Pause&nbsp;&nbsp;<span class="glyphicon glyphicon-pause"></span></a>&nbsp;&nbsp;
        <a class="btn btn-lg btn-success" ng-click="main.startTimer()" ng-show="!main.timerRunning && !main.timerAlert">Start!&nbsp;&nbsp;<span class="glyphicon glyphicon-play"></span></a>&nbsp;&nbsp;
        <a class="btn btn-lg btn-danger" ng-click="main.resetTimer()" ng-show="!main.timerAlert">Reset&nbsp;&nbsp;<span class="glyphicon glyphicon-repeat"></span></a>

        <a class="btn btn-lg btn-success" ng-click="main.decrementStart()" ng-show="!main.timerForceNext && main.timerAlert">{{main.countdown}} More?&nbsp;&nbsp;<span class="glyphicon glyphicon-play"></span></a>&nbsp;&nbsp;
        <a class="btn btn-lg btn-info" ng-click="main.resetTimer()" ng-show="main.timerAlert">New Topic&nbsp;&nbsp;<span class="glyphicon glyphicon-repeat"></span></a>
    </p>
</section>
<section class="container">
    <br />
    <h2 class="page-header">Settings</h2>

      <div class="row">
    <form name="settings" class="form-horizontal">
        <div class="form-group">
          <label for="initialcountdown" class="col-sm-7 control-label">Initial countdown time (seconds):</label>
          <div class="col-sm-2">
          <input type="text" class="form-control" ng-model="main.initialCountdown" id="initialcountdown">
          <span class="danger-text" ng-if="settings.initialcountdown.$invalid">
             ERROR!
          </span>
        </div>
        </div>
        <div class="form-group">
          <label for="decrement" class="col-sm-7 control-label">Countdown expiration decrement (seconds):</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" ng-model="main.decrement" id="decrement">
            <span class="danger-text" ng-if="settings.decrement.$invalid">
               ERROR!
            </span>
          </div>
        </div>
    </form>
      </div>

  </div>
</section>
